.button-style,#button{
    width:100px;
    height: 40px;
    margin-left: 10px
   ;
}
#new-use-name,#image-url,#button{
margin-top: 20px;
margin-bottom: 30px;
}
.text
{
    font-size: 25px;
    font-weight: 1000;
    margin: 0 auto;
    display: grid;
    align-items: center;
    margin-left: 50px;

}
.image
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    float: left;
}

.container
{
    background: burlywood;
    padding: 20px 50px 20px 50px;
    width:fit-content;
    display: flex;
justify-content: center;
border-radius: 15px;

}
.user_list
{
   display: grid;
   justify-content: center;
   row-gap:5px;
}
#new-user-name,#image-url{
    font-size: 35px
}